html, body {
  height: 100%;
}

h1, h2,h3,h4p {
  color: #282f44;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: Lato, sans-serif;
  color: #222;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 0 0 40px;
  /*border-bottom: 1px solid #ececec;*/
  padding: 20px;
  text-align: left;
}

header > p {
  color: #e6af2e;
}

main {
  flex: 1 0 auto; /* fill the available space */
  padding: 20px;
}

footer {
  flex: 0 0 40px; /* don’t grow or shrink - just stay at a height of 90px. */ 
  padding: 20px;
  border-top: 1px solid #ececec;
  /*background-color: #282f44;*/
}
footer ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
footer ul > li {
  color: #282f44;
  padding-right: 6px;
}

footer li:after {
    content: " |";
}
footer li:last-child:after {
    content: "";
}